[submodule "ros2/src/robot_visual_localization"]
	path = ros2/src/robot_visual_localization
	url = https://github.com/olayasturias/robot_visual_localization.git
[submodule "ros/ros/src/UNav-Sim_NMPC"]
	path = ros/ros/src/UNav-Sim_NMPC
	url = https://github.com/abdelhakim96/UNav-Sim_NMPC.git
